

body {
    font-family: Outfit;
}

.title {
    text-align: center; 
}

.title h2 {
    font-weight: none;
    font-size: 30px;
}

.bio {
    display: flex;
    justify-content: center;
}

.bio ul {
    margin-top: 10px;
   list-style: circle;
}

.bio li {
    margin-top: 6px;
}

.stats {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.badges img:nth-child(9) {
    margin-top: 20px;
    width: 140px;
    margin-left: 20px;
}

.badges img:not(:nth-child(9)) {
    width: 60px;
    height: 60px ;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 50px;
    opacity: 0.6;
}

.badges img:hover:not(:nth-child(9)) {
    flex-shrink: 0;
    opacity: 1;
    border: 2px solid transparent;
    box-shadow: 0 0 20px #3b23d3;
    transition: all 600ms ease;
    cursor: pointer;
}
